/* Global variables */

:root {
    --primaryColor: #1D2936;
    --secondaryColor: #b3b3b1;
    --accentColor: #3B60E4;
    --lightColor: #fff;
    --heavyWeight: 800;
    --mediumWeight: 600;
    --lightWeight: 400;
    --thinWeight: 200;
    --bgColor: #fff;
    --fontPrimary: 'lato';
    --fontSecondary: 'merriweather';
    display: flex;
  }
  
  /* Global styles */
  
  h1, h2, h3, h4, h5, h6, p, a, label, li {
    font-family: var(--fontPrimary);
    color: var(--primaryColor);
  }
  
  body {
    width: 100%;
    margin: 0px;
  }
  
  .hide {
    display: none;
    transition: display 2s ease-out;
  }
  
  button {
    height: 42px;
    padding: 7px 20px 7px 20px;
  }
  
  button:hover, button:active {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
  }
  
  /* Navigation styles */
  
  nav {
    padding: 5px 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
  
  .nav--logo {
    font-weight: var(--mediumWeight);
    color: var(--secondaryColor);
    font-size: 13px;
    width: 30%;
  }
  
  .nav--link {
    margin: 0px 50px 0px 10px;
    opacity: .8;
    text-decoration: none;
    font-size: 13px;
  }
  
  .active {
    font-weight: var(--heavyWeight);
    color: var(--primaryColor);
    opacity: 1;
  }
  
  .nav--link:hover {
    opacity: .5;
  }
  
  /* Landing section structure */
  
.landing {
    display: flex;
    flex-direction: row;
  }
  
  /* Hero section styles */
  
.case {
    padding: 0px 50px 0px 50px;
}

.case--header {
    font-weight: var(--mediumWeight);
    font-family: var(--fontSecondary);
    line-height: 1.5;
    font-size: 3em;
    margin: 0px;
    padding: 5% 0 7% 0;
}

.case--body {
    display: flex;
    height: 100%;
    padding-right: 8%;
}

.case--nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: sticky;
    top: 20px;
    width: 20%;
    padding: 0px;
    margin-bottom: 15px;
    height: 100%;
    flex: 1;
}

.case--nav-link { 
    margin-bottom: 15px;
    text-decoration: none;
}

.case--nav-link:hover {
    opacity: .6;
    cursor: pointer;
}

.study {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 0px;
    width: 80%;
    margin: 0px;
}

.study--title {
    color: var(--primaryColor);
    font-weight: var(--heavyWeight);
    font-size: 1.5em;
    margin: 0px;
}

.study--full:nth-child(2), .study--full:nth-child(3) {
    margin-top: 40px;
}

.study--subtitle {
    color: var(--primaryColor);
    font-weight: var(--heavyWeight);
    font-size: 1em;
    margin: 0px;
}

.study--body, .study--full > ul, .visuals > p {
    color: var(--primaryColor);
    font-weight: var(--lightWeight);
    font-size: 1em;
    line-height: 1.7;
    opacity: .7;
}

.study--full > ul > li {
  padding-bottom: 15px;
}

.study--full > ul > li:last-child {
  padding-bottom: 0px;
}

.study--full > ul > li > span {
  font-weight: var(--heavyWeight);
}

.visuals {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.visuals > img {
  margin: 20px;
  width: 70%;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.10);
  border-radius: 10px;
  cursor: zoom-in;
}

/* Lightbox modal */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.content {
  margin-top: 5%;
  border-radius: 4px;
  width: 100%;
}

.modal--image {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 0px;
  margin: 0 15% 0 15%;
}

.content--close {
  color:white;
  float: right;
  margin: 2% 3% 0px 0px;
  top: 20px;
  font-size: 28px;
  font-weight: var(--mediumWeight);
}

.content--close:hover, .content--close:focus {
  opacity: .7;
  cursor: pointer;
}
  
@media (max-width:320px)  { 
  nav {
    height: 40px;
    padding: 6% 4% 4% 7%;
  }

  .nav--logo {
    font-size: 2em;
    width: 30%;
  }
  
  .nav--link {
    display: none;
  }

  .case {
    width: 100%;
  }

  .case--body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2% 4% 2% 4%;
  }
  
  .case--nav {
    display: none;
  }
  
  .case--header {
    font-size: 4em;
    padding: 7% 0 3% 4%;
}

.study--title {
  padding: 10px 0px 10px 0px;
}

.study--subtitle {
  padding: 10px 0px 10px 0px;
}

  .study {
    width: 95%;
  }

}