 /* Case studies structure */
  
.case {
    padding: 0px 50px 0px 50px;
}

.case--header {
    font-weight: var(--mediumWeight);
    font-family: var(--fontSecondary);
    font-size: 3em;
    margin: 0px;
    padding: 5% 0 7% 0;
}

.case--body {
    display: flex;
    height: 100%;
    padding-right: 8%;
    padding-bottom: 5%;
}

/* Side navigation */

.case--nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 20px;
    width: 20%;
    padding: 0px;
    margin-bottom: 15px;
    height: 100%;
    flex: 1;
}

.case--nav-link { 
    margin-bottom: 15px;
}

.case--nav-link:hover {
    opacity: .6;
    cursor: pointer;
}

/* Individual case studies */

.study {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 0px;
    width: 80%;
    margin: 0px;
}

.study--title {
    color: var(--primaryColor);
    font-weight: var(--heavyWeight);
    font-size: 1.5em;
    margin: 0px;
}

.study--full:nth-child(2), .study--full:nth-child(3), .study--full:nth-child(4) {
    padding-top: 40px;
}

.study--subtitle {
    color: var(--primaryColor);
    font-weight: var(--heavyWeight);
    font-size: 1em;
    margin: 0px;
}

.study--body, .study--full > ul, .visuals > p {
    color: var(--primaryColor);
    font-weight: var(--lightWeight);
    font-size: 1em;
    opacity: .7;
}

.study--full > ul > li {
  padding-bottom: 18px;
  line-height: 1.6;
  font-family: var(--fontPrimary);
}

.study--full > ul > li:last-child {
  padding-bottom: 0px;
}

.study--full > ul > li > span {
  font-weight: var(--heavyWeight);
}

.visuals {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.visuals > img {
  margin: 20px;
  width: 90%;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.10);
  border-radius: 10px;
  cursor: zoom-in;
}

/* Lightbox modal */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.content {
  margin-top: 5%;
  border-radius: 4px;
  width: 100%;
}

.modal--image {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 0px;
  margin: 0 15% 0 15%;
}

.content--close {
  color:white;
  float: right;
  margin: 2% 3% 0px 0px;
  top: 20px;
  font-size: 28px;
  font-weight: var(--mediumWeight);
}

.content--close:hover, .content--close:focus {
  opacity: .7;
  cursor: pointer;
}

@media (max-width: 670px) {
  
  /* Main content responsivenesss */
  
  .case {
    padding: 0 20px 0 20px;
  }

  .case--header {
    font-size: 2em;
    padding: 7% 0 3% 4%;
}

  .study--title {
    padding: 10px 0px 10px 0px;
    font-size: 1.3em;
  }
  .case--body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2% 4% 2% 4%;
    font-size: .9em;
  }
  
  .case--nav {
    display: none;
  }

  .visuals {
    margin: 0;
  }
  
  .visuals > img {
    width: 100%;
    margin: 0 0 15px 0;
    box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
  }

  .study--subtitle {
    padding: 10px 0px 10px 0px;
  }

  .study {
    width: 95%;
  }