/* Global variables */

:root {
  --primaryColor: #1D2936;
  --secondaryColor: #b3b3b1;
  --accentColor: #FFD453;
  --heavyWeight: 800;
  --mediumWeight: 600;
  --lightWeight: 400;
  --thinWeight: 200;
  --bgColor: #fff;
  --fontPrimary: 'lato';
  --fontSecondary: 'merriweather';
  display: flex;
}

/* Global styles */

h1, h2, h3, h4, h5, h6, p, a {
  font-family: var(--fontPrimary);
}

body {
  width: 100%;
  margin: 0px;
}

.hide {
  display: none;
  transition: display 2s ease-out;
}

/* Navigation styles */

nav {
  padding: 5px 0px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.nav--logo {
  font-weight: var(--heavyWeight);
  color: var(--secondaryColor);
  font-size: 13px;
  width: 30%;
}

.nav--link {
  margin: 0px 50px 0px 10px;
  color: var(--primaryColor);
  text-decoration: none;
  font-size: 13px;
}

.nav--link:hover {
  opacity: .5;
}

/* Landing section structure */

.landing {
  display: flex;
  flex-direction: column;
}

/* Hero section styles */

.hero {
  height: 84vh;
  padding: 0px 200px 0px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.hero--h1 {
  color: var(--primaryColor);
  font-weight: var(--heavyWeight);
  line-height: 1.5;
  font-size: 3em;
  margin: 0px;
}

.hero--h2 {
  color: var(--secondaryColor);
  font-weight: var(--lightWeight);
  padding: 0px 0px 10px 0px;
  font-size: 1em;
  margin: none;
}

/* Click easter egg section */

.click {
  font-style: italic;
  font-weight: var(--lightWeight);
}

.click:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* About section => before click */

.about--before {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0px 50px 0px 50px;
  border-radius: 5px;
}

.more--connect {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryColor);
  transition: height .75s ease;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.more--view-cta {
  font-weight: var(--mediumWeight);
  margin: 0px 0px 0px 50px;
  width: 10%;
  height: 20px;
  font-size: 1em;
  transition: all 2s ease;
}

.more--view-cta:hover {
  cursor: pointer;
  opacity: .5;
}

.more--view-cta:hover {
  cursor: pointer;
  opacity: .5;
}

.more--icons {
  margin: 0px 50px 0px 50px;
}

.more--connect-svg {
  height: 20px;
  padding: 0px 0px 0px 15px;
}

.more--connect-svg:hover {
  opacity: .5;
}


/* About section => after click */

.about--after {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  height: 100vh;
}

.more--connect-full {
  background-color: var(--primaryColor);
  align-items: flex-start;
  flex-direction: column;
  transition: height .75s ease;
  border-radius: 0px;
  padding: 25px 50px 40px 50px;
}

.resume {
  padding: 50px 50px 0px 50px;
  width: 60%;
}

.more--view-cta-after {
  font-weight: var(--mediumWeight);
  margin: 30px 0px 0px 50px;
  width: 10%;
  height: 20px;
  font-size: .8em;
  transition: all 2s ease;
  align-items: center;
}

.resume--head {
  font-family: var(--fontSecondary);
  font-size: 2.5em;
  margin: 0px 0px 15px 0px;
}
.resume--title {
  /* color: var(--accentColor); */
  font-weight: var(--heavyWeight);
  padding: 24px 0px 0px 0px;
  font-size: 1em;
}

.resume--descript {
  font-weight: var(--lightWeight);
  font-size: 1em;
  line-height: 1.7;
  opacity:.8;
}

.contact {
  font-size: .8em;
  height: 42px;
  padding: 7px 20px 7px 20px;
  margin: 20px 0px 0px 0px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #8b130d;
  font-weight: var(--mediumWeight);
}

.contact:hover {
  cursor: pointer;
  background-color: #a31d16;
}