/* Global variables */

:root {
  --primaryColor: #1D2936;
  --secondaryColor: #b3b3b1;
  --heavyWeight: 800;
  --mediumWeight: 600;
  --lightWeight: 400;
  --bgColor: #fff;
  --fontPrimary: 'lato';
  --fontSecondary: 'merriweather';
  display: flex;
}

/* Global styles */

h1, h2, h3, h4, h5, h6, p, a {
  font-family: var(--fontPrimary);
}

body {
  width: 100%;
  margin: 0px;
}

/* Navigation styles */

nav {
  padding: 5px 0px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.nav--logo {
  font-weight: var(--heavyWeight);
  color: var(--secondaryColor);
  font-size: 13px;
  width: 30%;
}

.nav--link {
  margin: 0px 50px 0px 10px;
  color: var(--primaryColor);
  text-decoration: none;
  font-size: 13px;
}

.nav--link:hover {
  opacity: .5;
}

/* Hero section styles */

.hero {
  height: 86vh;
  padding: 0px 220px 0px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.hero--h1 {
  color: var(--primaryColor);
  font-weight: var(--heavyWeight);
  line-height: 1.5;
  font-size: 3em;
  margin: 0px;
}

.hero--h2 {
  color: var(--secondaryColor);
  font-weight: var(--lightWeight);
  padding: 0px 0px 10px 0px;
  font-size: 1em;
  margin: none;
}

/* Cards section styles */

.more {
  background: var(--bgColor);
  padding: 5px 50px 0px 50px;
}

.more--connect {
  background-color: var(--primaryColor);
  border-radius: 5px 5px 0px 0px;
  height: 50px;
  width: 100%;
  padding: 15px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.more--connect-full {
  background-color: var(--primaryColor);
  padding: 15px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 100vh;
  width: 100%;
}

.more--view-cta {
  font-weight: var(--mediumWeight);
  margin: 0px 0px 0px 50px;
  width: 50%;
  font-size: 1em;
}

.more--view-cta:hover {
  cursor: pointer;
  opacity: .5;
}

.more--icons {
  margin: 0px 50px 0px 50px;
}

.more--connect-svg {
  height: 20px;
  padding: 0px 0px 0px 15px;
}

.more--connect-svg:hover {
  opacity: .5;
}

/* Portfolio section styles */

.portfolio {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Call to action section styles */
