/* Global variables */

:root {
  --primaryColor: #1D2936;
  --secondaryColor: #b3b3b1;
  --accentColor: #3B60E4;
  --lightColor: #fff;
  --heavyWeight: 800;
  --mediumWeight: 600;
  --lightWeight: 400;
  --thinWeight: 200;
  --bgColor: #fff;
  --fontPrimary: 'lato';
  --fontSecondary: 'merriweather';
  display: flex;
}

/* Global styles */

h1, h2, h3, h4, h5, h6, p, a, label {
  font-family: var(--fontPrimary);
  color: var(--primaryColor);
}

body {
  width: 100%;
  margin: 0px;
}

.hide {
  display: none;
  transition: display 2s ease-out;
}

button {
  height: 42px;
  padding: 7px 20px 7px 20px;
}

button:hover, button:active {
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  outline: none;
}

/* Navigation styles */

nav {
  padding: 5px 0px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.nav--logo {
  font-weight: var(--mediumWeight);
  color: var(--secondaryColor);
  font-size: 13px;
  width: 30%;
}

.nav--link {
  margin: 0px 50px 0px 10px;
  opacity: .8;
  text-decoration: none;
  font-size: 13px;
}

.active {
  font-weight: var(--heavyWeight);
  color: var(--primaryColor);
  opacity: 1;
}

.nav--link:hover {
  opacity: .5;
}

/* Landing section structure */

.landing {
  display: flex;
  flex-direction: column;
}

/* Hero section styles */

.hero {
  height: 84vh;
  padding: 0px 10% 0px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.hero--h1 {
  font-weight: var(--heavyWeight);
  line-height: 1.5;
  font-size: 3em;
  margin: 0px;
}

.hero--h2 {
  color: var(--secondaryColor);
  font-weight: var(--lightWeight);
  padding: 0px 0px 10px 0px;
  font-size: 1em;
  margin: none;
}

/* Click easter egg section */

.click {
  font-style: italic;
  font-weight: var(--lightWeight);
  color: var(--accentColor);
}

.click:hover {
  cursor: pointer;
  color: rgb(37, 73, 202);
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.content {
  background-color: var(--bgColor);
  border-radius: 4px;
  margin: auto;
  padding: 20px 40px 40px 40px;
  width: 50%;
  max-width: 450px;
  min-width: 340px;
}

.modal--after {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.content--after {
  background-color: var(--bgColor);
  margin: auto;
  width: 100vw;
  height: 100vh;
  transition: all .2s linear;
}

.content--close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: var(--mediumWeight);
}

.content--close:hover, .content--close:focus {
  color: #000;
  cursor: pointer;
}

.content--title {
  font-weight: var(--heavyWeight);
  font-size: 1.3em;
  padding: 10px 0px 0px 0px;
}

.content--body {
  font-weight: var(--lightWeight);
  opacity: .5;
  line-height: 1.6;
  font-size: 1em;
  padding: 0px 0px 10px 0px;
}

.content--cta {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0px 0px 0px;
}

.modal--button {
  font-weight: var(--mediumWeight);
  font-size: .8em;
  height: 42px;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
}

.content--cta-button1 {
  background-color: var(--accentColor);
  color: var(--lightColor);
  border: none;
}

.content--cta-button1:hover {
  background-color: #284AC7;
}

.content--cta-button2 {
  background-color: white;
  color: var(--accentColor);
  border: none;
  padding: 8px 10px 8px 0px;
}

.content--cta-button2:hover {
  color: rgb(27, 59, 172);
}

/* About section => before click */

.about--before {
  color: var(--lightColor);
  display: flex;
  justify-content: center;
  padding: 0px 50px 0px 50px;
  border-radius: 5px;
}

.more--connect {
  background-color: var(--primaryColor);
  color: var(--lightColor);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height .75s ease-out;
  border-radius: 5px 5px 0px 0px;
}

.more--view-cta {
  font-weight: var(--mediumWeight);
  color: var(--lightColor);
  margin: 0px 0px 0px 50px;
  width: 15%;
  height: 20px;
  font-size: 1em;
  transition: all .5s ease;
}

.more--view-cta:hover, .more--view-cta-after:hover {
  opacity: .5;
  cursor: pointer;
}

.more--icons {
  margin: 0px 50px 0px 50px;
}

.more--connect-svg {
  height: 20px;
  padding: 0px 0px 0px 15px;
}

.more--connect-svg:hover {
  opacity: .5;
}


/* About section => after click */

.about--after {
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  color: var(--lightColor);
  border-radius: 5px;
  height: 100vh;
}

.more--connect-full {
  background-color: var(--primaryColor);
  align-items: flex-start;
  flex-direction: column;
  transition: height .75s ease-out;
  border-radius: 0px;
  padding: 25px 50px 7% 50px;
}

.resume {
  padding: 50px 0px 0px 50px;
  width: 100%;
  min-width: 300px;
}

.more--view-cta-after {
  font-weight: var(--mediumWeight);
  margin: 30px 0px 0px 50px;
  width: 10%;
  height: 20px;
  font-size: .8em;
  transition: all 2s ease;
  align-items: center;
}

.resume--head {
  color: var(--lightColor);
  font-family: var(--fontSecondary);
  font-size: 2.5em;
  margin: 0px 0px 15px 0px;
}
.resume--title {
  color: var(--lightColor);
  font-weight: var(--heavyWeight);
  padding: 24px 0px 0px 0px;
  font-size: 1em;
}

.resume--descript {
  color: var(--lightColor);
  font-weight: var(--lightWeight);
  font-size: 1em;
  line-height: 1.7;
  opacity:.8;
  width: 80%;
}

.resume--button {
  font-size: .8em;
  margin: 20px 0px 0px 0px;
  color: var(--lightColor);
  border: none;
  border-radius: 4px;
  background-color: var(--accentColor);
  font-weight: var(--mediumWeight);
}

.resume--button:hover {
  background-color: rgb(27, 59, 172);
}

/* Contact form */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  min-width: 300px;
}

.contact--title {
  font-weight: var(--heavyWeight);
  font-size: 1.8em;
  padding: 4% 0px 0px 0px;
  text-align: center;
  min-width: 240px;
  line-height: 1.6;
}

.contact--body {
  font-weight: var(--lightWeight);
  text-align: center;
  width: 70%;
  min-width: 240px;
  opacity: .5;
  line-height: 1.6;
  font-size: 1em;
  padding: 0px 0px 24px 0px;
}

.form {
  height: 100%;
  width: 50%;
  min-width: 240px;
  max-width: 400px;
}

.form > input, textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--fontPrimary);
  font-size: 13px;
  height: 38px;
  width: 100%;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  background-color: transparent;
  margin: 8px 0px 15px 0px;
  padding: 0px 0px 0px 8px;
}

.form > textarea {
  padding: 8px 0px 0px 8px;
  resize: none;
}

.form > input:active, input:focus, textarea:active, textarea:focus {
  border: 1px solid var(--accentColor);
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  outline: none;
} 

.form > label {
  font-size: 12px;
  font-weight: var(--mediumWeight);
  color: var(--secondaryColor);
}

.contact--button {
  background-color: var(--accentColor);
  font-weight: var(--mediumWeight);
  color: var(--lightColor);
  float:right;
  font-size: .8em;
  border: none;
  border-radius: 4px;
}

.contact--button:hover {
  background-color: rgb(27, 59, 172);
}