/* Global variables */

:root {
  --primaryColor: #1D2936;
  --secondaryColor: #b3b3b1;
  --accentColor: #3B60E4;
  --lightColor: #fff;
  --heavyWeight: 800;
  --mediumWeight: 600;
  --lightWeight: 400;
  --thinWeight: 200;
  --bgColor: #fff;
  --fontPrimary: 'lato';
  --fontSecondary: 'merriweather';
  display: flex;
}

/* Global styles */

h1, h2, h3, h4, h5, h6, p, a, label {
  font-family: var(--fontPrimary);
  color: var(--primaryColor);
  text-decoration: none;
  line-height: 1.6;
}

body {
  width: 100%;
  margin: 0px;
}

.hide {
  display: none;
  transition: display 2s ease-out;
}

button {
  height: 42px;
  padding: 7px 20px 7px 20px;
}

button:hover, button:active {
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  outline: none;
}

/* Navigation styles */

nav {
  padding: 15px 0px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.nav--logo-img {
  width: 40px;
}

.nav--logo-img:hover {
  cursor: pointer;
  opacity: .6;
}

.nav--link {
  margin: 0px 50px 0px 10px;
}

.nav--link:hover {
  opacity: .5;
}

.active {
  font-weight: var(--heavyWeight);
  color: var(--primaryColor);
  opacity: 1;
}

/* Full-Screen Navigation */

.primary {
  margin: 0px 50px 0px 10px;
  font-size: 14px;
  opacity: .8;
}

.primary--link {
  margin: 0 15px 0 15px;

}

.primary--link:last-child {
  margin: 0 0 0 15px;
}

.primary--link:hover {
  opacity: .5;
  cursor: pointer;
}

nav a.icon {
  display: none;
}

/* Contact modal styling */

  
.contact--modal {
  background-color: var(--primaryColor);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.contact-form {
  padding-top: 100px;
}

.contact--modal-content {
  background-color: var(--primaryColor);
}

.contact--close {
  color: white;;
  margin: 30px 35px 0 0 ;
  float: right;
  font-size: 28px;
  font-weight: var(--mediumWeight);
}

.contact--close:hover{
  opacity:.7;
  cursor: pointer;
}

.prevent-scroll {
  overflow: hidden;
}

/* Contact form */
  
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  color: white;
}

.contact--title {
  font-weight: var(--mediumWeight);
  color: white;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: center;
  min-width: 240px;
}

.contact--body {
  color: white;
  text-align: center;
  width: 50%;
  min-width: 240px;
  opacity: .6;
  font-size: 1em;
  margin: 20px 0 25px 0;
  padding: 0px 0px 24px 0px;
}

.details--svg {
  height: 22px;
  padding: 0px 0px 0px 0px;
  color: white;
}

.details--info > span {
  display: flex;
  align-items: center;
}

.details--info > span > a {
  padding: 0 15px 0 15px;
  color: white;
}

.material-icons {
  color: white;
  size: 14px;
}

@media (max-width: 670px) {

  /* Navigation responsiveness */

  nav {
    height: 30px;
    padding: 5% 7% 5% 7%;
    background-color: white;
    box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.10);
    z-index: 1;
    position: sticky;
    top: 0;
    overflow: hidden;
  }

  .nav-dropdown {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav--logo-img {
    height: 35px;
    width: auto;
  }

  nav .icon {
    color: var(--primaryColor);
    font-size: 1.3em;
  }
  
  .primary--link {
  display: none;
  }

  .responsive-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav a.icon {
    float: right;
    display: block;
  }

  .display-nav {
    height: 300px;
  }

  .responsive-nav {
    font-size: 3em;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: white;
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from { margin-left: 100%; width: 200%;  }
    to { margin-left: 0%; width: 100%; }
  }

  .close--menu {
    display: flex;
    flex-direction: row-reverse;
    color: var(--primaryColor);
    margin: 3% 5% 0px 0px;
    font-size: 28px;
    font-weight: var(--mediumWeight);
  }

  .close--menu:hover{
    cursor: pointer;
    opacity: .7;
  }

  .all-links {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
  }

  .responsive--link {
    margin: 15px 0 15px 0;
  }
  
}

.hide {
  display: none;
  transition: display 2s ease-out;
}