.experience {
    display: flex;
    flex-direction: column;
    margin: 20px 140px 0 140px;
    display: flex;
}

/* Overview section */

.experience__about {
    padding: 20px 0 30px 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.experience__about--bodyTwo {
    padding-top: 15px;
    margin: 0;
    font-size: 15px;
    opacity: .8;
    font-weight: 400;
    line-height: 1.7;
}

/* Additional info section */

.experience__add {
    padding: 10px 0 30px 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.experience__add--body {
    margin: 0;
    font-size: 15px;
    opacity: .8;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 30px;
}