:root {
    --primaryColor: #0069ff;
    --primaryGradientColor: #1633ff;
    --secondaryColor: #101D42;
    --accentColor: #E94F37;
    --accentHoverColor: #C6351F;
    --backgroundColor: white;
    --fillColor: #F7F8F9;
    --messageFill: rgb(241, 242, 243);
    --borderColor: #D7D8DB;
}

h1, h2, h3, h4, h5, p, a, label, button, span {
    font-family: 'Lato';
    color: var(--secondaryColor);
}

button {
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

button:hover, button:active, button:focus, a:hover, a:focus, input:focus, input:active, div:active, div:focus  {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

input:active, input:focus {
    cursor: text;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
    height: 50px;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.logo {
    height: 24px;
    width: auto;
    margin-left: 40px;
}

nav > p {
    font-size: 12px;
    color: white;
    font-weight: 400;
    letter-spacing: .5px;
    opacity: .5;
    margin-right: 40px;
}

.dot {
    opacity: .8;
    color: white;
    padding: 0 5px 0 5px;
}

/* Primary content */

.content {
    display: flex;
}

.content__data {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 220px);
    overflow: scroll;
    right: 0;
    margin: 50px 30px 0 330px;
}

.content__nav {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 30px 40px;
    width: 220px;
    height: calc(100vh);
    border-right: 1px solid var(--borderColor);
    background-color: var(--fillColor);
    position: fixed;
    z-index: 998;
    left: 0;
}

/* Global page styling */

.page__title {
    margin: 0;
    font-size: 28px;
    font-weight: 800;
    padding-bottom: 18px;
}

.page__subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 18px;
}

.page__body {
    margin: 0;
    font-size: 15px;
    opacity: .8;
    font-weight: 400;
    line-height: 1.7;
}

.page__body--two {
    margin: 20px 0 0 0;
    font-size: 15px;
    opacity: .8;
    font-weight: 400;
    line-height: 1.7;
}

/* Skills blocks */

.skillsRow {
    display: flex;
    justify-content: space-between;
}

.skillsRowAlt {
    display: flex;
    justify-content: space-between;
}

.skillsRowAlt:last-child {
    margin-bottom: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: var(--fillColor);
    padding: 50px 40px 50px 40px;
    border-radius: 5px;
    margin: 0 20px 40px 0;
}

.skill:last-child {
    margin-right: 0px!important;
}

.skillAlt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: var(--fillColor);
    padding: 50px 40px 50px 40px;
    border-radius: 5px;
    margin: 0 20px 20px 0;
}

.skill__title {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 10px;
}

.skill__body {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    opacity: .8;
}

/* Global case study */

.edgenet, .splitsecnd, .wavefire, .splitsecnd, .asp, .impactful {
    display: flex;
    flex-direction: column;
    margin: 20px 140px 0 140px;
    display: flex;
}

.case__img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
}

.case__img:last-child {
    margin-bottom: 50px;
}

.menu {
    display: none;
}

/* Media queries */

@media screen and (max-width: 400px) {
    nav {
        display: inline-block;
    }

    nav > p {
        display: none;
    }

    .logo {
        margin: 10px 0 0 20px;
        float: left;
    }
    
    .content__nav {
        display: none;
    }

    .menu {
        right: 0;
        display: block;
        width: 34px;
        height: auto;
        float: right;
        margin: 8px 20px 0 0 ;
    }

    .content__data {
        display: flex;
        flex-direction: column;
        width: 100vw;
        overflow: scroll;
        right: 0;
        margin: 30px 20px 30px 20px;
    }

    .header {
        height: 74px;
        margin: 15px 0 0 0;
        width: 330px;
        min-width: 300px;
    }

    .header__tabList--block {
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }

    .header__button {
        border-radius: 4px;
        width: 120px;
        justify-content: center;
    }

    .header__button > img {
        display: none;
    }

    .experience, .resume, .development, .edgenet, .splitsecnd, .asp, .impactful, .wavefire {
        width: 95%;
        margin: 20px 10px 20px 10px;
    }

    .skillsRow, .skillsRowAlt {
        flex-direction: column;
        width: 100%;
    }

    .skill, .skillAlt {
        margin: 0 0 20px 0;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .skill__body {
        display: flex;
        flex-wrap: wrap;
    }

    .experience__about {
        padding-top: 10px;
    }

    .experience__add {
        margin-bottom: 10px;
        padding-bottom: 0px;
    }

    .sidenav__header {
        padding-top: 20px;
    }
    
  }



