
/* Container structure */

.post {
    background-color: var(--bgColor);
    min-width: 650px;
    width: 80%;
    height: 100vh;
}

.posts--all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 0 0 5%;;
}

.case--header {
    font-weight: var(--mediumWeight);
    font-family: var(--fontSecondary);
    padding: 0px 50px 0px 50px;
    line-height: 1.5;
    font-size: 3em;
}

/* Posts page styling */


.posts-body {
    margin-top: 0%;
    width: 80%;
}

.printed--post {
    padding: 0px 50px 30px 50px;
    align-items: center;
}

.post-title {
    color: var(--primaryColor);
    font-family: var(--fontPrimary);
    font-size: 1.5em;
    font-weight: 800;
    margin: 0px 0px 8px 0px;
}

.post-date {
    color: var(--primaryColor);
    font-family: var(--fontPrimary);
    font-size: 14px;
    font-weight: 400;
    opacity: .5;
    padding: 0px 0px 0px 10px;
}

.post-content {
    color: var(--primaryColor);
    font-family: var(--fontSecondary);
    font-size: 14px;
    font-weight: 200;
    line-height: 23px;
    line-height: 1.7;
}