hr {
    border: .5px solid #ededed;
    margin: 0px;
}

/* Nav styling */

nav {
    padding: 5px 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
  
  .nav--logo {
    font-weight: var(--mediumWeight);
    color: var(--secondaryColor);
    font-size: 13px;
    width: 30%;
  }
  
  .nav--link {
    margin: 0px 50px 0px 10px;
    opacity: .8;
    text-decoration: none;
    font-size: 13px;
  }
  
  .active {
    font-weight: var(--heavyWeight);
    color: var(--primaryColor);
    opacity: 1;
  }
  
  .nav--link:hover {
    opacity: .5;
  }

/* Container structure */

.post {
    background-color: var(--bgColor);
    min-width: 650px;
    width: 80%;
    height: 100vh;
}

/* Post information */

.details {
    display: flex;
    margin: 10px 50px 10px 50px;
    width: 100%;
}

.details--descript {
    color: #828B96;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 5px 0px 0px;
}

.details--data {
    color: #1D2936;
    font-size:13px;
    font-weight: 600;
    padding: 0px 25px 0px 0px;
}


/* Writing area */

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color: var(--secondaryColor);
    font-family: var(--fontPrimary);
}

.input {
    margin: 50px;
}

.input--title {
    font-family: var(--fontPrimary);
    color: var(--primaryColor);
    width: 97%;
    border: none;
    font-size: 28px;
    border: none;
    resize: none;
}

.input--body {
    color: var(--PrimaryColor);
    font-family: var(--fontSecondary);
    font-weight: var(--thinWeight);
    font-size: 15px;
    min-height: 340px;
    line-height: 1.7;
    height: 100%;
    box-shadow:none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

.post-body:focus, .post-body:active {
    box-shadow:none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

.post-body::placeholder{
    color: var(--secondaryColor);
    font-family: var(--fontSecondary);
}

textarea::placeholder{
    color: var(--secondaryColor);
}


.title::placeholder {
    color: var(--secondaryColor);
    font-weight: 600;
}

textarea:focus, textarea:active input:focus, input:active {
    box-shadow:none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

/* Post actions section */

.actions {
    width: 100%;
    display: flex;
}

.actions--post {
    width: 35%;
    max-width: 250px;
    margin: 25px 50px 20px 30px;
    display: flex;
}

.actions--post--publish:hover, .actions--post--publish:focus, .actions--post--publish:active  {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

.actions--post--publish, .actions--post--publish:target {
    background-color: var(--bgColor);
    color: var(--primaryColor);
    height: 42px;
    width: 120px;
    min-width: 120px;
    font-weight: 600;
    font-size: 13px;
    border: 1.5px solid #2F3E50;
    border-radius: 4px;
}

.actions--post--save {
    min-width: 100px;
    color: var(--primaryColor);
    font-weight: 600;
    font-size: 13px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

/* CONTENT STYLING */

.actions--text {
    width: 65%;
    display: block;
    padding: 30px 0px 0px 50px;
}

.big {
    font-size: 22px;
    font-weight: 400;
    font-family: var(--fontSecondary);
    padding-right: 15px;
}

.med {
    font-family: var(--fontSecondary);
    font-weight: 400;
    font-size: 15px;
    padding: 4px 15px 0px 0px;
}

.bold {
    font-family: var(--fontSecondary);
    font-weight: 800;
    font-size: 15px;
    padding: 4px 15px 0px 0px;
}

.italic {
    font-family: var(--fontSecondary);
    font-weight: 400;
    font-style: italic;
    padding-top: 4px;
    padding: 4px 15px 0px 0px;
}

.clear {
    font-family: var(--fontSecondary);
    font-weight: 400;
    padding-top: 4px;
}

.big:hover, .med:hover, .bold:hover, .italic:hover, .clear:hover {
    cursor: pointer;
    opacity: .5;
}

.header-one {
    font-weight: 800;
    font-size: 24px;
}

.header-two {
    font-weight: 800;
    font-size: 18px;
}

.bold-text {
    font-weight: 800;
    font-size: 14px;
}

.italic-text {
    font-style: italic;
    font-size: 14px;
}



/* Posts page styling */

.posts-body {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.printedPost {
    background-color: var(--bgColor);
    width: 80%;
    margin: 0px 0px 60px 0px;
}

.post-title {
    color: var(--primaryColor);
    font-family: var(--fontPrimary);
    font-size: 24px;
    font-weight: 800;
    margin: 0px 0px 8px 0px;
}

.post-date {
    color: var(--primaryColor);
    font-family: var(--fontPrimary);
    font-size: 14px;
    font-weight: 400;
    opacity: .5;
    padding: 0px 0px 0px 10px;
}

.post-content {
    color: var(--primaryColor);
    font-family: var(--fontSecondary);
    font-size: 14px;
    font-weight: 200;
    line-height: 23px;
    padding: 5px 0px 0px 0px;  
}
